@media only screen and (max-width: 1799px) {
    .main-header{
        /* background: black; */
    }
}

@media only screen and (max-width: 1699px) {
}
@media only screen and (max-width: 1679px) {
}
@media only screen and (max-width: 1599px) {
}
@media only screen and (max-width: 1535px) {
}
@media only screen and (max-width: 1499px) {
}
@media only screen and (max-width: 1439px) {
}
@media only screen and (max-width: 1399px) {
}
@media only screen and (max-width: 1365px) {
}
@media only screen and (max-width: 1299px) {
}
@media only screen and (max-width: 1279px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1023px) {
    .logo-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 575px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 389px) {
}
@media only screen and (max-width: 374px) {
}
