@media only screen and (max-width: 1799px) {
  

    .treeblock-images .relative {
    width: 584px;
    height: 720px;
}
.welcomeimges-inner {
    margin-left: 340px;
    margin-top: -120px;
    width: 353px;
    height: 297px;
}
.round-blue-badge {
    width: 170px;
    height: 170px;
    border: 10px solid var(--primary-color);
    bottom: 95px;
    left: 240px;
}
}

@media only screen and (max-width: 1699px) {
}
@media only screen and (max-width: 1679px) {
    .green-button {
    font-size: 22px;
}
.treeblock-title-common h2 {
    font-size: 64px;
}
    .treeblock-images .relative {
        width: 460px;
        height: 620px;
    }
         .welcomeimges-inner {
        margin-left: 200px;
        margin-top: -80px;
        width: 333px;
        height: 237px;
    }
        .round-blue-badge {
        width: 150px;
        height: 150px;
        bottom: 90px;
        left: 150px;
    }
    .round-blue-badge p {
    font-size: 40px;
}
.round-blue-badge p span {
    font-size: 14px;
}
.ourmission-block {
    grid-template-columns: 820px auto;
    grid-gap: 120px;
}
.ourvision-block {
    grid-template-columns: auto 820px;
    grid-gap: 120px;
}
}
@media only screen and (max-width: 1599px) {
}
@media only screen and (max-width: 1535px) {
}
@media only screen and (max-width: 1499px) {
}
@media only screen and (max-width: 1439px) {
}
@media only screen and (max-width: 1399px) {
}
@media only screen and (max-width: 1365px) {
}
@media only screen and (max-width: 1299px) {
}
@media only screen and (max-width: 1279px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1023px) {
    .logo-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 575px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 389px) {
}
@media only screen and (max-width: 374px) {
}
